In [ ]:
#1. factorial(for statement)

user_num=int(input("enter any number(2~100): "))
answer=1
for i in range(2,user_num+1):
  answer*=i
print(f"{user_num}'s factorial is {answer}")

enter any number(2~100): 5
5's factorial is 120

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
result=0
lst = [
  [1, 0, 7, 0],
  [0, 2, 0, 9],
  [0, 6, 3, 7],
  [4, 0, 5, 1],
]
for elem in lst:
  for i in elem:
    result+=i
result

45

In [ ]:
sum?

In [ ]:
result=0
lst = [
  [1, 0, 7, 0],
  [0, 2, 0, 9],
  [0, 6, 3, 7],
  [4, 0, 5, 1],
]
for elem in lst:
  result+=sum(elem)
print(result)

45

In [ ]:
a_words = []
with open('./a_word_list.txt') as f:
  textlines = f.readlines()
  for item in textlines:
    a_words.append(item.replace('\n',''))
print(a_words[:10])

['aback', 'abacus', 'abandon', 'abandoned', 'abandonment', 'abashed', 'abate', 'abbey', 'abbr.', 'abbreviate']

In [ ]:
#a_word_list.txt의 단어 길이별 갯수구하기
len_count = {}
for i in map(len, a_words):
  len_count[i] = len_count.get(i,0) + 1 #i번째 값이 없다면 => 0 생성, 있다면 원래값에 +1
print(len_count)

{5: 67, 6: 80, 7: 85, 9: 89, 11: 47, 10: 86, 12: 25, 3: 14, 8: 96, 4: 28, 13: 15, 15: 4, 17: 1, 2: 5, 14: 12, 16: 4, 18: 1, 22: 1}

In [ ]:
len_count = {}
for i in map(len, a_words):
  if i in len_count:
    len_count[i] += 1
  else:
    len_count[i] = 1

In [ ]:
a_word_by_len = {}
for word  in a_words:
  a_word_by_len.setdefault(len(word),[]).append(word)
print(a_word_by_len)

{5: ['aback', 'abate', 'abbey', 'abbr.', "ABC's", 'abhor', 'abide', 'abort', 'about', 'above', 'abuse', 'abyss', 'acorn', 'acrid', 'actor', 'acute', 'adage', 'adapt', 'adept', 'admit', 'adobe', 'adopt', 'adore', 'adorn', 'adult', 'affix', 'after', 'again', 'agent', 'agile', 'aging', 'agony', 'agree', 'ahead', "ain't", 'aisle', 'alarm', 'album', 'alert', 'algae', 'alias', 'alibi', 'alien', 'align', 'alike', 'alive', 'Allah', 'allay', 'alley', 'allot', 'allow', 'alloy', 'aloft', 'aloha', 'alone', 'along', 'aloof', 'aloud', 'altar', 'alter', 'amass', 'amaze', 'amber', 'amble', 'amend', 'amiss', 'among'], 6: ['abacus', 'abduct', 'abject', 'ablaze', 'aboard', 'abound', 'abroad', 'abrupt', 'absent', 'absorb', 'absurd', 'accent', 'accept', 'access', 'accord', 'accost', 'accrue', 'accuse', 'acidic', 'acquit', 'across', 'acting', 'action', 'active', 'actual', 'acumen', 'addict', 'adhere', 'ad hoc', 'adjoin', 'adjust', 'ad lib', 'ad-lib', 'admire', 'adrift', 'adroit', 'Advent', 'advent', 'adverb', 'advice', 'advise', 'aerial', 'affair', 'affect', 'affirm', 'afford', 'afloat', 'afraid', 'afresh', 'Africa', 'agency', 'agenda', 'aghast', 'agreed', 'ailing', 'airily', 'airing', 'albeit', 'albino', 'alcove', 'alight', 'alkali', 'allege', 'allied', 'allude', 'allure', 'almond', 'almost', 'alpine', 'alumna', 'alumni', 'always', 'amazed', 'ambush', 'amends', 'amidst', 'amoeba', 'amoral', 'amount', 'ampere'], 7: ['abandon', 'abashed', 'abdomen', 'abiding', 'ability', 'abolish', 'abreast', 'abridge', 'abscess', 'abscond', 'absence', 'absolve', 'abstain', 'abusive', 'abysmal', 'academy', 'acclaim', 'account', 'accused', 'accuser', 'acerbic', 'achieve', 'acidity', 'acquire', 'acrobat', 'acronym', 'acrylic', 'actress', 'acutely', 'adamant', 'adapter', 'address', 'adeptly', 'adjourn', 'adjunct', 'admiral', 'admirer', 'adopted', 'advance', 'adverse', 'adviser', 'aerobic', 'aerosol', 'affable', 'affably', 'affairs', 'afflict', 'affront', 'African', 'against', 'agility', 'agitate', 'agonize', 'ailment', 'aimless', 'air bag', 'airfare', 'airless', 'airline', 'airmail', 'airport', 'alarmed', 'alcohol', 'alfalfa', 'algebra', 'alimony', 'alleged', 'allergy', 'all-out', 'almanac', 'already', 'alright', 'alumnae', 'alumnus', 'amateur', 'amazing', 'amenity', 'America', 'amiable', 'amiably', 'ammonia', 'amnesia', 'amnesty', 'amongst', 'amorous'], 9: ['abandoned', 'abdominal', 'abduction', 'abhorrent', 'abolition', 'aborigine', 'absorbent', 'absorbing', 'abstinent', 'absurdity', 'abundance', 'abysmally', 'accessory', 'acclaimed', 'acclimate', 'accompany', 'accordion', 'acid rain', 'acoustics', 'acquiesce', 'acquittal', 'acrobatic', 'actuality', 'adamantly', 'adaptable', 'addiction', 'addictive', 'adherence', 'adjective', 'adjoining', 'admirable', 'admirably', 'admission', 'adoration', 'adornment', 'adulation', 'advantage', 'adventure', 'adverbial', 'adversary', 'adversely', 'adversity', 'advertise', 'advisable', 'aerospace', 'aesthetic', 'affection', 'affidavit', 'affiliate', 'affluence', 'afterlife', 'aftermath', 'afternoon', 'afterward', 'aggravate', 'aggressor', 'aggrieved', 'agitation', 'agonizing', 'agreeable', 'agreeably', 'agreement', 'aimlessly', 'air force', 'a la mode', 'alcoholic', 'algebraic', 'algorithm', 'alignment', 'all-clear', 'allegedly', 'alleviate', 'alligator', 'allotment', 'allowable', 'allowance', 'all right', 'alongside', 'alternate', 'amazement', 'amazingly', 'ambiguity', 'ambiguous', 'ambitious', 'ambulance', 'amendment', 'Americana', 'amorphous', 'amphibian'], 11: ['abandonment', 'able-bodied', 'abnormality', 'absenteeism', 'abstraction', 'accelerator', 'acclimation', 'accommodate', 'accompanist', 'accordingly', 'accountable', 'achievement', 'acknowledge', 'acquisition', 'acrimonious', 'across from', 'acupuncture', 'acute angle', 'adjournment', 'adjudicator', 'adolescence', 'advancement', 'adventurous', 'advertising', 'aerodynamic', 'affectation', 'affiliation', 'affirmation', 'affirmative', 'aftereffect', 'aggravating', 'aggravation', 'agnosticism', 'agonizingly', 'agriculture', 'alarm clock', 'allegorical', 'alleviation', 'altercation', 'alternately', 'alternation', 'alternative', 'ambiguously', 'ambitiously', 'ambivalence', 'Americanism', 'amphetamine'], 10: ['abbreviate', 'abdication', 'aberration', 'abhorrence', 'abnormally', 'abominable', 'aboriginal', 'about-face', 'aboveboard', 'abrasively', 'abridgment', 'abruptness', 'absolutely', 'absorption', 'abstention', 'abstinence', 'abundantly', 'accelerate', 'accentuate', 'acceptable', 'acceptably', 'acceptance', 'accessible', 'accidental', 'accomplice', 'accomplish', 'accordance', 'accountant', 'accounting', 'accredited', 'accumulate', 'accurately', 'accusation', 'accusingly', 'accustomed', 'acquainted', 'acrobatics', 'activation', 'adaptation', 'additional', 'adequately', 'adjectival', 'adjudicate', 'adjustable', 'adjustment', 'administer', 'admiration', 'admiringly', 'admissible', 'admittance', 'admittedly', 'admonition', 'adolescent', 'adrenaline', 'adulterate', 'adventurer', 'advertiser', 'aesthetics', 'affiliated', 'affliction', 'affordable', 'aftershave', 'aftershock', 'afterwards', 'aggression', 'aggressive', 'a la carte', 'alarmingly', 'alcoholism', 'alderwoman', 'alienation', 'all-around', 'allegation', 'allegiance', 'allocation', 'alma mater', 'alteration', 'altogether', 'altruistic', 'amalgamate', 'amateurish', 'ambassador', 'ambivalent', 'ameliorate', 'ammunition', 'amphibious'], 12: ['abbreviation', 'abolitionist', 'academically', 'acceleration', 'accidentally', 'accomplished', 'according to', 'accumulation', 'acknowledged', 'acquaintance', 'acquiescence', "Adam's apple", 'additionally', 'adulteration', 'advantageous', 'aerodynamics', 'affectionate', 'afterthought', 'aggressively', 'agricultural', 'all-American', 'alphabetical', 'amalgamation', 'ambidextrous', 'amelioration'], 3: ['ABC', 'ace', 'ACT', 'act', 'add', 'age', 'ago', 'aha', 'aid', 'aim', 'air', 'ale', 'all', 'amp'], 8: ['abdicate', 'abnormal', 'abortion', 'abortive', 'abrasive', 'abruptly', 'absentee', 'absently', 'absolute', 'absorbed', 'abstract', 'absurdly', 'abundant', 'academic', 'accented', 'accepted', 'accident', 'accolade', 'accuracy', 'accurate', 'accusing', 'accustom', 'achiever', 'acoustic', 'acquaint', 'acrimony', 'activate', 'activism', 'activist', 'activity', 'actually', 'addicted', 'addition', 'additive', 'adequacy', 'adequate', 'adherent', 'adhesion', 'adhesive', 'adjacent', 'admiring', 'admonish', 'adoption', 'adoptive', 'adorable', 'adroitly', 'adultery', 'advanced', 'advisory', 'advocacy', 'advocate', 'aerobics', 'affected', 'affinity', 'affluent', 'agitated', 'agitator', 'agnostic', 'agonized', 'air base', 'airborne', 'aircraft', 'airfield', 'airliner', 'airplane', 'air raid', 'airspace', 'airstrip', 'airtight', 'air time', 'airwaves', 'alarming', 'alarmist', 'alderman', 'alienate', 'alkaline', 'allegory', 'allergic', 'alliance', 'allocate', 'all-star', 'alluring', 'allusion', 'almighty', 'alphabet', 'although', 'altitude', 'altruism', 'aluminum', 'ambiance', 'ambition', 'amenable', 'American', 'amicable', 'amicably', 'amnesiac'], 4: ['abet', 'able', 'ably', 'ache', 'achy', 'acid', 'acne', 'acre', 'A.D.', 'afar', 'aged', 'ages', 'aide', 'AIDS', 'airs', 'airy', 'ajar', 'akin', 'alas', 'ally', 'alms', 'also', 'alto', 'A.M.', 'amen', 'amid', 'ammo', 'amok'], 13: ['absent-minded', 'acceptability', 'accessibility', 'accommodating', 'accommodation', 'accompaniment', 'accreditation', 'actualization', 'administrator', 'advertisement', 'aesthetically', 'affirmatively', 'all-inclusive', 'alternatively', 'ambassadorial'], 15: ['absent-mindedly', 'air-conditioned', 'air conditioner', 'American Indian'], 17: ['absent-mindedness'], 2: ['AC', 'ad', 'ah', 'AM', 'am'], 14: ['accident-prone', 'accommodations', 'accomplishment', 'accountability', "Achilles' heel", 'acknowledgment', 'administration', 'administrative', 'affectionately', 'aggressiveness', 'alphabetically', 'American dream'], 16: ['across-the-board', 'African-American', 'air conditioning', 'aircraft carrier'], 18: ['affirmative action'], 22: ['air traffic controller']}

In [ ]:
doors = [0,0,1]

In [ ]:
from random import shuffle,choice
doors = [0,0,1]
shuffle(doors)
doors

[0, 1, 0]

In [ ]:
choice(doors)

0

In [ ]:
from random import shuffle, choice


result = {
    'stay_to_win': 0,
    'move_to_win': 0,
}
doors = [0,0,1] # 0: goat, 1: sports car

iter_num = int(input("Enter some num(100-10000): "))

for _ in range(iter_num):
    shuffle(doors)
    #print(doors)
    user_choice = choice(doors)
    #print(user_choice)
    if user_choice==0:
        result['move_to_win'] += 1
    else:
        result['stay_to_win'] += 1

print("{} times run: stay-{stay_to_win} switch-{move_to_win}".format(iter_num, **result))

Enter some num(100-10000): 500
500 times run: stay-167 switch-333

In [ ]:
def say_hello():
  print("Hello world!")
say_hello()

Hello world!

In [ ]:
def say_hello(username):
  print(f"Hello, {username}")
say_hello("yewon")

Hello, yewon

In [ ]:
def say_hello(username):
  return f"Hello, {username}"
result=say_hello("yewon")
result

'Hello, yewon'

In [ ]:
def awesum(num1,num2):
  result=num1 + num2 + 3
  return result 
awesum(10,12)

25

In [ ]:
awesum(2,3)

8

In [ ]:
from random import choice
def awesum():
  result = choice([0,1])
  return result
is_return = awesum()
is_return

0

In [ ]:
def mul_return(num):
  moks = num//3
  namuji = num % 3
  return moks,namuji
mul_return(10)

(3, 1)

In [ ]:
def id_check(id):
  if id == "admin":
    print("invalid id: admin")
    return
  else:
    print(f"hello, {id}")
id_check("admin")

invalid id: admin

In [ ]:
def say_hello(username="babo",nick=True): #기본값이 있는건 그인자를 마지막에 둬야함
  print(f"Hi,{username} ")
  if nick == True:
    print("But, you are Fool")
    return 'fool'
  else:
    print("Oh, you are not Fool")
    return 'smartkid'
say_hello(username="smart",nick=False)

Hi,smart
Oh, you are not Fool

'smartkid'

In [ ]:
def mul_sum(*args): 
  print(args,type(args))
mul_sum(1,2,3)

(1, 2, 3) <class 'tuple'>

In [ ]:
def mul_sum(*args): 
	sum = 0
	for i in args:
		sum += i
	return sum
mul_sum(1,2,3,4)

10

In [ ]:
def show_kwargs(**kwargs):
  print(type(kwargs))
show_kwargs(a=10, b="google")

<class 'dict'>

In [ ]:
def show_kwargs(**kwargs):
  print(kwargs,type(kwargs))
show_kwargs(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3} <class 'dict'>

In [ ]:
def kwargs_url(server, port,**query):
  url = "https://" + server + ":" + port + "?"
  for key in query.keys():
    url += key + "=" + query[key] + "&"
  return url
kwargs_url("localhost","8080",utm_source="google",keyword="naver")

'https://localhost:8080?utm_source=google&keyword=naver&'

In [ ]:
a="hello"
def glob_test(x):
  x+="world"
  return x

glob_test(a)
print(a)

hello

In [ ]:
a='hello'
def glob_test2(a,d):
  a+='world'
  d+=1
  return a,d
glob_test2(a,1)

('helloworld', 2)

In [ ]:
b="hello"
def glob_test():
  global b
  b+='world'
  return b
glob_test()

'helloworld'

In [ ]:
#leaf year function
def find_leaf(year):
  if year%400==0:
    return True
  elif year%100==0:
    return False
  elif year%4==0:
    return True
  else:
    return False
find_leaf(2.23)

False

In [ ]:
#leaf year function
def find_leaf(year):
  if year%4==0 and (year%100!=0 or year%400==0):
    return True
  else:
    return False
for year in [2000,2100,2001,2004,2400]:
  print(find_leaf(year))

True
False
False
True
True

In [ ]:
def greeting(username:str,age:int)->str:
  """
  이름:str과 나이:int를 입력하면 친절하게 인사를 건넬것입니다
  """
  return f"Hi, {username}, And you are {age} years old";
greeting(username="yewon",age=12)

'Hi, yewon, And you are 12 years old'

In [ ]:
times = int(input("How many times want to curse the beast??: "))
def recurse_beast(a):
  if a == 0:
    print("curse complete!")
    return 
  else:
    print(f"Fusion!!! ({a-1} times left)")
    return recurse_beast(a-1)
recurse_beast(times)

How many times want to curse the beast??: 4
Fusion!!! (3 times left)
Fusion!!! (2 times left)
Fusion!!! (1 times left)
Fusion!!! (0 times left)
curse complete!

In [ ]:
num = int(input("what number want to get fibonacci number"))
def fibonacci(a: int) -> int:
  if a == 0 :
    return 0
  if a==1:
    return 1
  else:
    return fibonacci(a-1)+fibonacci(a-2)
for i in range(10):
  print(fibonacci(i))

what number want to get fibonacci number10
0
1
1
2
3
5
8
13
21
34

In [ ]:
import math
def binet_fibo(n):
  sqrt_5 = math.sqrt(5)
  result = int(((1+sqrt_5)**n-(1-sqrt_5)**n) / (2**n*sqrt_5))
  return result
binet_fibo(5)

5

In [ ]:
2**0.5

1.4142135623730951

In [ ]:
#걸린시간 측정
from time import time
s_time=time()
binet_fibo(35)
e_time=time()
binet_time=e_time-s_time
print(binet_time)

9.870529174804688e-05

In [ ]:
s_time=time()
fibonacci(35)
e_time=time()
fibo_time=e_time-s_time
print(fibo_time)

4.632827043533325

In [ ]:
old_lst=[1,2,3,4,5,]
d_list=[]
for i in old_lst:
  d_list.append(i*2)
print(d_list)

[2, 4, 6, 8, 10]

In [ ]:
[i*2 for i in old_lst]

[2, 4, 6, 8, 10]

In [ ]:
[i*2 if i%2==0 else
 i**2 if i%3==0 else 
 i for i in old_lst]

[1, 4, 9, 8, 5]

In [ ]:
## fizzbuzz list
num_range = [i for i in range(1,30+1)]

##List comprehension
fb_list= ["fizzbuzz" if i%15==0 else
 "fizz" if i%3==0 else 
  "buzz" if i%5==0 else 
 i for i in num_range] 
fb_list

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz']


## Dictionary Comperhension

In [ ]:
old_dict = {1:1,2:2,3:3,4:4,}
new_dict = {}
for k,v in old_dict.items():
  new_dict[k]=v*2
new_dict

{1: 2, 2: 4, 3: 6, 4: 8}

In [ ]:
new_dict={k:v*2 for k,v in old_dict.items()}
new_dict

{1: 2, 2: 4, 3: 6, 4: 8}

In [ ]:
old_dict = {1:1,2:2,3:3,4:4,}
new_dict = {}
for k,v in old_dict.items():
  if v%2==0:
    new_dict[k*2]=v*2
new_dict

{4: 4, 8: 8}